.home-catogory {
    width: 100%;
    margin-top: 10px;
}

.catagory-item {
    text-align: center;
    width: 20%;
    cursor: pointer;
}

.home-catogory>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.catagory-item>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.catagory-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .catagory-item {
        width: 30%;
        font-size: 0.8rem;
    }
    .catagory-item>img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
}