
.home-page-main h2{
    color:  #345868;
    margin: 15px 10px;
}
.products-heading{
    text-align: center;
}
.banner {
    background-image: url("https://res.cloudinary.com/dmvxvzb5n/image/upload/v1724763337/Epic%20Essentials/x4sjrlpprimyp5vfrc5k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner>img {
    width: 65%;
}

.banner>h1 {
    margin: 0px;
    margin: 0px;
    color: #4079c9;
}

.home-banner-btn {
    padding: 7px 10px;
    border: 2px solid #4079c9;
    color: #4079c9;
    border-radius: 5px;
    font-weight: 600;
    min-width: 20%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.home-banner-btn:hover {
    background-color: #4079c9;
    color: white;
}

.banner ::after {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    clip-path: polygon(100% 78%, 0 100%, 100% 100%);
    max-width: 100%;
}

.products {
    display: flex;
    flex-direction: row;

}

.home-page-recent-products-container {
    width: 100%;
    padding: 1% 0%;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 7px rgb(203, 203, 203), -0.5px -0.5px 7px rgb(203, 203, 203);
}

.home-page-featured-products {
    width: 96%;
    padding: 1%;
    margin: 1%;
    background-color: white;
    box-shadow: 0.5px 0.5px 7px rgb(203, 203, 203), -0.5px -0.5px 7px rgb(203, 203, 203);
}

.home-page-recent-products {
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
}

.home-page-recent-products::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

.home-page-recent-products::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
}


.home-page-recent-products::-webkit-scrollbar-thumb {
    background: #4079c9;
    border-radius: 10px;
    cursor: pointer;
}

.home-page-recent-products::-webkit-scrollbar-thumb:hover {
    background: #315f9f;
}



/*product.jsx */
.productCard {
    width: 230px;
    display: flex;
    flex-direction: column;
    color: rgb(50, 49, 49);
    margin: 10px;
    padding-bottom: 0.5vmax;
    transition: 0.5s;
    border: 2px solid rgb(216, 213, 213);
    border-radius: 5px;
}

.productCard img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.productCard:hover {
    box-shadow: 0 0 5px black;
}

.productCard>div {
    padding-left: 10px;
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .productCard {
        width: 100%; 
        height: 260px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .products>div {
        width: 45%;
      }

    .productCard img {
        width: 100%;
        height: 100px;
    }

    .banner>img {
        width: 98%;
    }

    .banner>h1 {
        font-size: large;
    }
    .home-page-main h2{
        margin: 0px 0px 0px 10px;
    }
    .home-page-recent-products>div>div {
        width: 200px !important;
        margin-left: 10px;
      }
}