.update-password-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.update-password-box {
    background-color: white;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.update-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    justify-content: space-evenly;
    padding: 2%;
    height: 80%;
    transition: 0.5s;
}


.update-password-form>div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding: 3% 2%;
}

.update-password-form>div>input{
    background-color: transparent;
    border: 0px solid;
    width: 85%;
    transform: translateY(2px);
}

.update-password-form>div>input:focus{
    outline: none;
}
.update-password-form>div>label{
    font-size: 1.3rem;
}
.update-password-button {
    width: 80%;
    padding: 2%;
    border-radius: 10px;
    background-color: tomato;
    border: none;
    transition: 0.5s;
}

.update-password-button:hover{
    background-color: rgb(247, 52, 18);
}

.update-password-box>h2{
    width: 70%;
    margin: 0px;
    padding: 10px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .update-password-box{
        width: 90%;
    }
}