.home-page-main {
    min-height: 100vh;
}

.home-page-carousel {
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.home-img-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.home-img-item > img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.home-page-carousel-btn {
    position:absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-in-out;
}

.home-page-carousel-btn > div {
    width: 20%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-page-carousel-btn > div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-btn-click {
    background-color: rgba(144, 141, 141, 0.5);
    transform: scale(1.1);
}

.home-img-item-indi {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    bottom: 10px;
}

.home-img-item-indi > div {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: azure;
    transition: background-color 0.3s ease;
}

.home-img-item-indi > div.active {
    background-color: blue;
}
