.contact-page-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page-main>section {
    width: 100%;
}

.contact-page-upper-container {
    height: 60vh;
}

.contact-page-lower-container {
    height: 40vh;
    background-color: rgb(128, 208, 237);
}

.contact-page-main-container {
    position: absolute;
    background-color: #f1f3f6;
    height: 90vh;
    width: 95% !important;

}

.contact-page-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.contact-page-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    text-align: center;
}
.contact-page-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.contact-page-data-container>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-page-data-container>div>svg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid rgb(128, 208, 237);
    padding: 10px;
    background-color:  rgb(128, 208, 237);
    color: white;
}

.contact-page-img {
    width: 80px;
    height: 80px;
    padding: 10px;
    object-fit: contain;
    border-radius: 100%;
    border: 5px solid rgb(128, 208, 237);
}



@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .contact-page-img-container{
        width: 80%;
        margin-top: 10px;
    }
    .contact-page-data-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .contact-page-data-container>div{
        width: 80%;
    }
    .contact-page-main-container{
        height: auto;
    }
    .contact-page-lower-container{
        min-height: 90vh;
    }
    .contact-page-upper-container{
        min-height: 80vh;
    }
    
}