.loginsignup-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginSignup-box {
    background-color: white;

    margin: auto;
    width: 30%;
    border-radius: 10px;
    height: 70vh;
    overflow: hidden;
}

.loginSignup-toggle {
    display: flex;
}

.loginSignup-toggle>p {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
    transition: all 0.5s;
    margin: 0px;
    padding-top: 7px;
}

.loginSignup-toggle p:hover {
    color: tomato;
}

.loginSignup-box>div>button {
    width: 50%;
    height: 3px;
    transition: 0.5s;
    background-color: tomato;
    border: none;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    padding: 2%;
    height: 80%;
    transition: 0.5s;
}

.login-form>div,
.register-form>div {
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    padding: 1% 5%;
}

.login-form>div>input,
.register-form>div>input {
    background-color: transparent !important;
    border: 0px solid;
}

.login-form>div>input:focus,
.register-form>div>input:focus {
    outline: none;
}

.login-button,
.register-button {
    width: 80%;
    padding: 2%;
    border-radius: 10px;
    background-color: tomato;
    border: none;
    transition: 0.5s;
}

.login-button:hover,
.register-button:hover {
    background-color: rgb(247, 52, 18);
}

.shiftToLeft {
    transform: translateX(-100%);
}

.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
    transform: translateX(100%);
}

.register-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register-avatar>img {
    width: 10%;
    height: fit-content;
    padding-right: 5px;
    background-color: white;
}


.resigter-upload-img-btn {
    width: 80%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.resigter-upload-img-btn:hover {
    background-color: rgb(186, 186, 186);
}

form>div>label>svg {
    transform: translateY(3px);
}

.login-form>div>input,.register-form>div>input {
    transform: translateY(-5px);
    width: 80%;
    height: 70%;

}


form>div>input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;

    -webkit-text-fill-color: inherit;
}

@media only screen and (max-width: 1000px),
(max-device-width:1000px) {
    .loginSignup-box {
        width: 50%;
        height: 60vh;
    }
}

@media only screen and (max-width: 600px),
(max-device-width:600px) {
    .loginSignup-box {
        width: 80%;
        height: 60vh;
    }

    .register-avatar>img {
        width: 15%;
    }
}