.search {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: center;

}

.search-input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 0% 2%;
    border: 2px solid blue;
    transition: 0.2s;
}

.search-button {
    border-radius: 10px;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
    padding: 0% 20px;
    background-color: transparent;
    transition: 0.5s;
}

.search-button:hover {
    background-color: blue;
    color: aliceblue;

}

.search-input:hover {
    box-shadow: inset 0 -3em 3em rgba(223, 228, 233, 0.3),
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(0, 33, 200, 0.6);

}

/* No Product Found */
.no-products-found {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2% 2%;
    margin-left: 25%;
}

.no-products-found>img {
    width: 50%;
    height: fit-content;
    padding: 1% 5%;
    
}
.no-products-found>div{
    padding: 1% 5%;
    text-align: center;
}